@tailwind base;
@tailwind components;
@tailwind utilities;

.show-input-container {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.show-input-container.show {
  max-height: 1000px; /* Adjust this value to fit your content */
}
